
.console {
  border-top: 28px solid #d5d5d5;
  min-width: 225px;
  background: $white;
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;

  .dots-container {
    position: absolute;
    top: -28px;
    left: 0;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $brown;
    width: 100%;
    border-radius: 10px 10px 0 0;

    .console-header {
      margin-left: -72px;
      text-align: center;
      min-width: 300px;
      width: 100%;

      @include mobile {
        font-size: small;
      }
      
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 7px;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

      &:nth-child(1){
        background: #ff6057;
        margin-left: 15px;
      }
  
      &:nth-child(2){
        background: #ffc22e;
      }
      
      &:nth-child(3){
        background: #28ca40;
      }
    }
  }
  .text {
    flex-wrap: wrap;
    min-width: 340px;
    background: none;
    margin: 0px;
    padding: 30px 17px 20px 17px;
    font-size: 1em;
    line-height: 2.125em;
    border: none;

    @include mobile {
      min-width: 225px;
    }

    &:focus, &:active { 
      outline: none;
    }

    .input-text {
      font-size: 1em;
    }

    .output-text {
      color: $pink;
      margin: 0 22px;
      font-size: 1em;
    }
    .array-container {
      display: flex;
      flex-wrap: wrap;
      font-size: 1em;
    }

    .cursor {
      animation: blink 1s infinite step-end;
      font-weight: bolder;
      font-size: 1.15em;
      color: $black;
    }
  }
}


.about-link {
  padding-bottom: 5px;
  position: relative;
  font-weight: 600;

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    margin-left: 30%;
    height: 2px;
    background: $lightGreen--dark;
    content: '';
  }

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background: $lightGreen--dark;
    content: '';
    transition: transform 0.4s;
  }

  &:hover {
    transition: 0.4s;
    &:after {
      transform: scaleX(1);
    }
  }
  
}

@keyframes blink {
  from, to { opacity: 0; }
  
  50% {opacity: 1;}
}