.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .console {
    border-top: 28px solid #d5d5d5;
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: #f1f1f3;
    .dots-container {
      position: absolute;
      top: -28px;
      left: 0;
      height: 28px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $brown;
      width: 100%;
      border-radius: 10px 10px 0 0;

      .console-header {
        margin: auto;
        padding-right: 60px;
        
      }

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 7px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
        background-color: #fff;
  
        &:nth-child(1){
          background-color: #ff6057;
          margin-left: 15px;
        }
    
        &:nth-child(2){
          background-color: #ffc22e;
        }
        
        &:nth-child(3){
          background-color: #28ca40;
        }
      }
      textarea {
        background-color: #f1f1f3;
        min-width: 340px;
        background: none;
        padding: 30px 17px 20px 17px;
        font-size: 15px;
        line-height: 34px;
        border: none;
  
      &:focus, &:active { 
        outline: none;
      }
    }
    }
    .text {
      background-color: #f1f1f3;
      flex-wrap: wrap;
      color: $black;
      min-width: 340px;
      background: none;
      margin: 0px;
      padding: 30px 17px 20px 17px;
      font-size: 15px;
      line-height: 34px;
      border: none;
  
      &:focus, &:active { 
        outline: none;
      }
      .output-text {
        color: $pink;
        margin: 0 22px;
      }
      .array-container {
        display: flex;
      }

      .cursor {
        animation: blink 1s infinite step-end;
        font-weight: bolder;
        font-size: 18px;
        color: $brown;
      }
    }
  }
}
@keyframes blink {
  from, to { opacity: 0; }
  
  50% {opacity: 1;}
}