.header-container {
  width: 80%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .header-image {
    margin: 3vh 0 1vh 0;
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  .header-content {
    height: 10vh;
    margin: 0 5%;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
  }

}