.navbar-container {
  display: flex;
  justify-content: flex-end;
  margin: 0, auto;
  max-width: 1060px;

  @include mobile {
    justify-content: center;
  }

  @include desktop {
    margin: auto;
  }

  .navbar {
    justify-content: space-between;
    font-size: 1.188em;
    margin-top: 20px;
    display: flex;

    @include mobile {
      width: 90%;
    }

    .navbar-link {
      position: relative;
      color: $black;
      margin: 0 25px;
      padding-bottom: 10px;

      @include mobile{
        margin: 0;
        float: left;
        width: 33%;
        text-align: center;
      }
      .link-text {
        width: fit-content;
        margin: auto;
        position: relative;
        padding-bottom: 10px;

    
        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          margin: auto;
          height: 4px;
          transform: scaleX(0);
          background: $lightGreen;
          content: '';
          transition: transform 0.3s;
        }
    
        &:hover {
          color: $lightGreen;
          transition: 0.3s;
  
          &:after {
            transform: scaleX(1);
            border-radius: 5px;
  
          }
        }

      }
    }
  }
}

