@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;

  .project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; // Safari align-items: stretch by default
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;

    @include tablet {
      flex-direction: column;
    }

    .project-title-line {
      border-top: solid 4.5px $lightGreen;
      width: 22%;
      border-radius: 5px;

      @include mobile {
        width: 32%
      }
   
    }
    .project-title {
      font-weight: 600;
      font-size: 1.375em;
      letter-spacing: 2px;
      margin-bottom: 20px;
      padding-top: 10px;
    }

    .project-img {
      height: auto;
      width: 50%;
      margin-bottom: 10px;

      @include tablet {
        width: 95%;
      }
    }
    
    .project-content {
      width: 45%;

      @include tablet {
        width: 95%;
        margin-top: 20px;
        font-size: 1em;
        
      }

      

      .project-tech-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .project-tech {
          padding: 4px 8px;
          text-align: center;
          font-size: 0.875em;
          color: $black;
          margin-bottom: 5px;
          border: 1.5px solid $pink;
          color: $pink;
          border-radius: 5px;
          margin-right: 8px;


          @include tablet {
            margin-right: 10px;
          }
        }
      }
    

      .project-desc {
        margin-bottom: 20px;
        line-height: 1.375em;
      }
      .project-link {
      button {
        position: relative;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        margin-top: 25px;
        &.learn-more {
          width: 12rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: $lightGreen;
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $platinum;
              &.arrow {
                @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: '';
                  top: -0.3rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid $platinum;
                  border-right: 0.125rem solid $platinum;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.9rem 0;
            margin: 0 0 0 1.85rem;
            color: $gray;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
              background: $platinum;
              transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $platinum;
          }
        }
      }
      &:hover {
        opacity: 1;
      }
    }

  }
  }
}