$platinum: #E4E4E4;
$brown: #D5A98D;
$lightGreen: #74B383;
$pink: #CE7483;
$black: #343C46;

$moon: #4A47FF;
$sun: #f9d71c;

$white: #f5f5f5;
$gray: #696969;

// dark mode
$lightGreen--dark: #89BE95;
$black--dark: #22282F;

