@import 'breakpoints';
@import 'colors';

@import '../components/Navbar';
@import '../components/Header';
@import '../components/About';
@import '../components/Projects';
@import '../components/Outlines';
@import '../components/Footer';

@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);

html { font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

$scrollLength: 100vh;

body {
  scroll-behavior: smooth;
  transition: background .4s ease;
  background: $platinum;
  &.dark-mode {
    background: darken($black, 10%);
  }
}

body.light-mode {
  background: $platinum;
  color: $black;
}

body.dark-mode {
  background: darken($black, 10%);
  color: $platinum;

  .navbar-container {
    .navbar {
      .navbar-link {
        color: $platinum;
        &:after {
          color: lighten($lightGreen, 20%);        }
        &:hover {
          color: lighten($lightGreen, 20%);        }
      }
    }
  }
  .console {
    background: $black;

    .dots-container {
      background: darken($pink, 5%);
    }
    .console-header {
      $color: $platinum
    }
    .text {
      .output-text {
        color: $brown;
      }
    .cursor {
      color: $platinum;
    }
    }
  }

  .header-container {
    transition: 0.4s ease;
  }
  .projects-container {
    transition: 0.4s ease;

    .project-container {
      .project-content {
        .project-tech-container {
          .project-tech {
            border: 1.5px solid $brown;
            color: $brown;
          }
        }
      }
    }
  }

  a {
    color: lighten($lightGreen, 20%);
  }
}

.header {
  font-size: 2.5em; 
}

a {
  text-decoration: none;
  color: $lightGreen;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.colors-container {
  display: flex;

  .color {
    width: 2.5em;
    height: 3.5px;
    border-radius: 5px;
    margin: 20px 2.5px;

    @include mobile {
      margin: 10px 2.5px;
    }

    &:nth-child(1){
      background: $white;
    }

    &:nth-child(2){
      background: $brown;
    }
    
    &:nth-child(3){
      background: $lightGreen;
    }

    &:nth-child(4){
      background: $pink;
    }
    &:nth-child(5){
      background: $gray;
    }
  }
}

.toggle-container {
  cursor: pointer;
  font-size: 1.188em;;
  margin-left: 25px;
  padding: 0 7px;
  top: 2px;
  position: relative;
  .sun {
    color: $sun;
    &:hover {
      -webkit-filter: dropshadow(0 0 20px $sun);
      filter:drop-shadow(0 0 20px $sun);
      transition: ease-in 0.3s;
    }
  }
  .moon {
    color: $moon;
    &:hover {
      filter:drop-shadow(0 0 30px $moon);
      transition: ease-in 0.3s;
    }
  }
 
}

