@import 'breakpoints';
@import 'colors';

@import '../components/Navbar';
@import '../components/Header';
@import '../components/About';
@import '../components/Projects';
@import '../components/Outlines';
@import '../components/Footer';

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$scrollLength: 100vh;

body {
  scroll-behavior: smooth;
  transition: background .4s ease;
  background: $platinum;
  &.dark-mode {
    background: $black--dark;
  }
}

body.light-mode {
  background: $platinum;
  color: $black;
}

body.dark-mode {
  background: $black--dark;
  color: $platinum;

  .navbar-container {
    .navbar {
      .navbar-link {
        color: $platinum;
        &:after {
          background: $lightGreen--dark;        
        }
        &:hover {
          color: $lightGreen--dark;        
        }
      }
    }
  }
  .console {
    background: $black;

    .dots-container {
      background: darken($pink, 5%);
    }
    .console-header {
      $color: $platinum
    }
    .text {
      .output-text {
        color: $brown;
      }
    .cursor {
      color: $platinum;
    }
    }
  }

  .about-link {
    &:before {
      background: $lightGreen--dark;
    }
    &:after {
      background: $lightGreen--dark;
    }
  }
  

  .header-container {
    transition: 0.4s ease;
  }
  .projects-container {
    transition: 0.4s ease;

    .project-container {
      .project-title-line {
        border-top: solid 4.5px $lightGreen--dark;
      }
      .project-content {
        .project-link {
          button {
            &.learn-more {
              .circle {
                background: $lightGreen--dark;
              }
            }
          }
        }
      }
    }
  }

  .project-tech-container {
    .project-tech {
      border: 1.5px solid $brown;
      color: $brown;
    }
    .button-tech {
      &:hover {
        background: $brown;
        color: $black;
      }
    }
  }

  a {
    color: $lightGreen--dark;
  }

  .colors-container {
    .color {
      &:nth-child(3) {
        background: $lightGreen--dark;
      }
    }
  }

  footer {
    .copyright-container {
      .footer-social-container {
        .google {
          background: $lightGreen--dark;
        }
      }
    }
  }

  .hashtag {
    color: $pink;
  }
}

.header {
  font-size: 2.5em; 
}

a {
  text-decoration: none;
  color: $lightGreen;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.hashtag {
  color: $brown;
  font-weight: 300;
}

.colors-container {
  display: flex;

  .color {
    width: 2.25em;
    height: 3.5px;
    border-radius: 5px;
    margin: 20px 2px 40px 2px;

    @include mobile {
      margin: 10px 2px 20px 2px;
    }

    &:nth-child(1){
      background: $white;
    }

    &:nth-child(2){
      background: $brown;
    }
    
    &:nth-child(3){
      background: $lightGreen;
    }

    &:nth-child(4){
      background: $pink;
    }
    &:nth-child(5){
      background: $black;
    }
  }
}


//dark mode
.toggle-container {
  cursor: pointer;
  top: 2px;
  position: relative;
  margin-right: -27px;

  @include mobile {
    margin-right: 0;
  }
  .sun {
    color: $sun;
    will-change: filter;
    &:hover {
      -webkit-filter: dropshadow(0 0 20px $sun);
      filter:drop-shadow(0 0 20px $sun);
      transition: ease-in 0.3s;
    }
  }
  .moon {
    color: $moon;
    will-change: filter;

    &:hover {
      filter:drop-shadow(0 0 30px $moon);
      transition: ease-in 0.3s;
    }
  }
 
}

.notFound-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  .notFound-text {
    font-size: 1.25em;
    margin-bottom: 40px;

    .notFound-link {
      font-weight: 600;
      font-size: 1.3em;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        bottom: -5px;
        right: 0;
        width: 80%;
        margin-left: 10%;
        border-radius: 2px;
        height: 4px;
        background: $lightGreen;
        content: '';
      }
    }
  }

  .notFound-img {
    width: 50%;
    max-width: 530px;
    height: auto;

    @include mobile {
      width: 90%;
    }
  }
  .watermark {
    position: fixed;
    font-weight: bolder;
    opacity: 0.04;
    z-index: -100;
    transform: rotate(-20deg);
  }
  .one {
    top: -5%;
    left: 0;
    font-size: 20em;

    @include mobile {
      font-size: 10em;
      top: 0;
    }

  }

  .two {
    top: 10%;
    font-size: 40em;

    @include mobile {
      font-size: 17em;
      top: 20%;
    }
  }

  .three {
    top: 75%;
    font-size: 10em;
    right: 0;

    @include mobile {
      font-size: 5em;
      top: 55%;
    }
  }
}

